<html>
    <title>PyCon 2015 - Room Sheets</title>
</html>
<body>
{% for room in sessions %}
    <h1>PyCon 2015 - Room {{ room }}</h1>
    {% for s in sessions[room] %}
        <h3>{{ s.name}}</h3>
        <h4>
            {% for a in s.authors %}
                {{ a }}{% if not loop.last %},{% endif %}
            {% endfor %}
        </h4>
        <h4>{{ s.start|datetime }} -- {{ s.end|datetime }}</h4>
        <hr/>
    {% endfor %}
    <h4>Session Chair Checklist:</h4>
    <ul>
        <li>Water for speaker(s)</li>
        <li>Have your speaker(s) decide on Q&amp;A options</li>
        <li>Ask how to pronounce the speaker(s) names for the introduction</li>
    </ul>
    {% if not loop.last %}
        <p style="page-break-after: always;"></p>
    {% endif %}
{% endfor %}
</body>